<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/papergeneratordb?zeroDateTimeBehavior=convertToNull</property>
    
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">false</property>
    <property name="hibernate.use_sql_comments">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.acquire_increment">5</property>
    <property name="hibernate.c3p0.idle_test_period">10</property>
    <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    
    <mapping resource="tablas/TiposTablas.hbm.xml"/>
    <mapping resource="tablas/FrasesClaveXPaper.hbm.xml"/>
    <mapping resource="tablas/Tablas.hbm.xml"/>
    <mapping resource="tablas/ReferenciasBibliograficas.hbm.xml"/>
    <mapping resource="tablas/Permisos.hbm.xml"/>
    <mapping resource="tablas/FormatoPaper.hbm.xml"/>
    <mapping resource="tablas/PermisosXRoles.hbm.xml"/>
    <mapping resource="tablas/FormatoResultados.hbm.xml"/>
    <mapping resource="tablas/Roles.hbm.xml"/>
    <mapping resource="tablas/FormatoTabla.hbm.xml"/>
    <mapping resource="tablas/FormatoMetodologia.hbm.xml"/>
    <mapping resource="tablas/Papers.hbm.xml"/>
    <mapping resource="tablas/UsuariosNoAprobados.hbm.xml"/>
    <mapping resource="tablas/FormatoIntroduccion.hbm.xml"/>
    <mapping resource="tablas/Usuarios.hbm.xml"/>
    <mapping resource="tablas/FormatoPalabrasClave.hbm.xml"/>
    <mapping resource="tablas/FormatoAnexo.hbm.xml"/>
    <mapping resource="tablas/RolesXUsuarios.hbm.xml"/>
    <mapping resource="tablas/AutoresXPaper.hbm.xml"/>
    <mapping resource="tablas/FormatoRevisionLiteratura.hbm.xml"/>
    <mapping resource="tablas/TablasXPaper.hbm.xml"/>
    <mapping resource="tablas/FormatoAgradecimiento.hbm.xml"/>
    <mapping resource="tablas/AlmacenamientoPapers.hbm.xml"/>
    <mapping resource="tablas/FormatoResumen.hbm.xml"/>
    <mapping resource="tablas/Autores.hbm.xml"/>
    <mapping resource="tablas/FormatoReferencias.hbm.xml"/>
    <mapping resource="tablas/FormatoTitulo.hbm.xml"/>
    <mapping resource="tablas/FormatoConclusiones.hbm.xml"/>
    <mapping resource="tablas/ReferenciasXPaper.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
